{
	auto_https off
	persist_config off
	admin 0.0.0.0:2019 {
		origins http://api:8000
		enforce_origin
	}
}

:80 {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:8000
	}

	handle /health {
		reverse_proxy api:8000
	}

	handle {
		reverse_proxy web:3000
	}
}
